body {
	font-size: 62.5%;
	font-family: sans-serif;
	background: #808080;
}

.clear { clear: both; }

#header {
	background: #333333;
        color: #00FF99;
}

img {
        display: block;
        max-width: 65%;
        margin: auto;
}

a {
        color: #9370DB;
}

#content {
	max-width: 58%;
        background: #2F4F4F;
        float: right;
        color: #00FF99;
}

#sidebar {
	width: 40%;
        max-width: 40%;
	float: left;
        background: #2F4F4F;
        color: #00FF99;
        word-wrap: break-word;
}
